Assets/EpsgEllipsoids.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EpgsEllipsoids">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Ellipsoid">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EpsgId" type="xs:unsignedInt" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="ShortName" type="xs:string" />
              <xs:element name="SemiMayorAxis" type="xs:decimal" />
              <xs:element name="InverseFlattening" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>